boto3
google
mat73
matplotlib
mne
mne-bids>=0.6
mysql-connector
mysqlclient
nilearn
nibabel
nose
numpy
protobuf>=3.0.0
pybids==0.17.0
pyright
pytest
python-dateutil
ruff
scikit-learn
scipy
sqlalchemy>=2.0.0
virtualenv
