name: Integration tests

on:
  pull_request:
  push:
    branches:
    - 'main'
    - '*-release'
  schedule:
    - cron: '30 0 * * *'

env:
  DATABASE_NAME: TestDatabase
  DATABASE_USERNAME: TestUsername
  DATABASE_PASSWORD: TestPassword
  BUCKET_URL: https://ace-minio-1.loris.ca:9000
  BUCKET_NAME: loris-rb-data
  # NOTE: These are read-only keys on public data.
  # Ideally, we would like to hide these keys. However, both GitHub variables and GitHub secrets
  # are not accessible from pull requests from forks. Since we want to run integration tests on
  # pull requests, we define these variables here.
  BUCKET_ACCESS_KEY: lorisadmin-ro
  BUCKET_SECRET_KEY: Tn=qP3LupmXnMuc

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
    - name: Check out LORIS-MRI
      uses: actions/checkout@v4

    - name: Clone the LORIS core repository
      run: git clone https://github.com/aces/Loris.git ./test/Loris

    - name: Overwrite Raisinbread SQL files
      run: cp -f ./test/RB_SQL/*.sql ./test/Loris/raisinbread/RB_files/

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker database image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./test/db.Dockerfile
        build-args: |
          DATABASE_NAME=${{ env.DATABASE_NAME }}
          DATABASE_USER=${{ env.DATABASE_USERNAME }}
          DATABASE_PASS=${{ env.DATABASE_PASSWORD }}
        tags: loris-db
        load: true
        cache-from: type=gha,scope=loris-db
        cache-to: type=gha,scope=loris-db

    - name: Build Docker MRI image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./test/mri.Dockerfile
        build-args: |
          DATABASE_NAME=${{ env.DATABASE_NAME }}
          DATABASE_USER=${{ env.DATABASE_USERNAME }}
          DATABASE_PASS=${{ env.DATABASE_PASSWORD }}
        tags: loris-mri
        load: true
        cache-from: type=gha,scope=loris-mri
        cache-to: type=gha,mode=max,scope=loris-mri

    # NOTE: Ideally, we would like to mount the S3 bucket in the Docker image, but since it
    # interacts with the kernel to add a file system, it is hard to do so.
    - name: Mount imaging files S3 bucket
      run: |
        sudo apt-get update
        sudo apt-get install -y s3fs fuse kmod
        sudo modprobe fuse
        sudo mkdir /data-imaging
        touch .passwd-s3fs
        chmod 600 .passwd-s3fs
        echo ${{ env.BUCKET_ACCESS_KEY }}:${{ env.BUCKET_SECRET_KEY }} > .passwd-s3fs
        sudo s3fs ${{ env.BUCKET_NAME }} /data-imaging -o url=${{ env.BUCKET_URL }} -o passwd_file=.passwd-s3fs -o use_path_request_style -o allow_other

    # FIXME: The Python warning is a bug in nilearn 0.13.0, remove when the library is updated.
    # https://github.com/nilearn/nilearn/issues/5927
    - name: Run integration tests
      run: docker compose --file ./test/docker-compose.yml run -e PYTHONWARNINGS="ignore:You are using the 'agg' matplotlib backend that is non-interactive.:UserWarning" mri pytest python/tests/integration
