name: Python checks

on:
  pull_request:
  push:
    branches:
    - 'main'
    - '*-release'
  schedule:
    - cron: '30 0 * * *'

jobs:
  ruff:
    name: Lints
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
    - name: Check out LORIS-MRI
      uses: actions/checkout@v4

    - name: Set up Python
      uses: ./.github/actions/setup-python
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run Ruff
      run: ruff check --output-format=github

  pyright-strict:
    name: Strict type checks
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
    - name: Check out LORIS-MRI
      uses: actions/checkout@v4

    - name: Set up Python
      uses: ./.github/actions/setup-python
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run Pyright
      run: |
        pyright --outputjson | test/pyright_to_github.sh

  pyrigh-global:
    name: Global type checks
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
    - name: Check out LORIS-MRI
      uses: actions/checkout@v4

    - name: Set up Python
      uses: ./.github/actions/setup-python
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run Pyright
      run: pyright --project test --outputjson | test/pyright_to_github.sh

  pytest:
    name: Unit tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
    - name: Check out LORIS-MRI
      uses: actions/checkout@v4

    - name: Set up Python
      uses: ./.github/actions/setup-python
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run Pytest
      run: pytest python/tests/unit
